<h1>Neuen Zweig anlegen</h1>

<p>Aus Dokument <%= @repository.name %></p>
<p>
Eigenschaften des neuen Zweiges:
</p>
<% form_for @branch, :url => {:action => :create} do |f| %>
  <%= f.hidden_field :repository_id %>
  Name des Zweiges :<%= f.text_field :name %><br/>
  Beschreibung: <%= f.text_field :description %><br/>
  Zweig kopieren von:
  <%= f.collection_select :copy_from_branch_id, @repository.branches, :id, :name %><br/>

  <%= f.submit "Anlegen" %>
<% end %>
