<% @title = "Bearbeiten #{@repo.human_name}" %>
<h1>Dokument bearbeiten <%= h @repo.human_name %></h1>

<p>
  (Zweig: <%= h @branch_name %>)
</p>
<% form_tag "/documents/update/#{@repo.id}" do -%>
  <%= hidden_field_tag :branch_name, @branch_name %>
  <p>
    Neuer Inhalt:<br/>
    <%= text_area_tag :content, @edit_content, :size => "80x25" %>
  </p>
  <p>
    Bemerkungen:
    <%= text_field_tag :remarks, Time.now.to_s, :size => "60" %>
  </p>
  <%= submit_tag "Speichern" %>
<% end -%>

