<% @title = "#{@document.human_name} (Repository #{@repository.name})" %>
<h1><%= h @document.human_name %></h1>
<h2>Repository <%= h @repository.name %></h2>
<div style="border:black solid 1px">
<%= RedCloth.new(@repository.content || "").to_html %>
</div>

<div>
  <% if current_user and @repository.write_access_for?(current_user) %>
    <%= link_to "Bearbeiten", :controller => :repositories, :action => :edit, :id => @repository.id %>
  <% end %>
</div>
<div>
  <%= link_to "History", :controller => :repositories, :action => :history, :id => @repository.id %>
</div>

<%= link_to "Zweig-Repository erstellen", :controller => :repositories, :action => :new_for_parent, :parent_repo_id => @repository.id %>

<%= render :partial => 'repo_tree', :locals => {:document => @document, :current_repo => @repository} %>

